version: "3.8"
services:
  demo:
    build: ./demo
    container_name: demo
    ports:
      - "8080:8080"
    networks:
      - appnet

  frontend:
    build: ./hola-angular
    container_name: frontend
    ports:
      - "4200:80"
    depends_on:
      - demo
    networks:
      - appnet

networks:
  appnet:
    driver: bridge